

.cover {
    width: 99%;
    margin: 10px auto 0px 10px;
    height: auto;
    overflow: hidden;
}


.cover p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #999;
}

.blue {
    color: #2f468f;
    font-size: 18px;
}
.content {
    width: 98%;
    margin-left: 5px;
    color: #000;
}
.prev {
    width: 49%;
    height:34px;
    float: left;
    overflow: hidden;
    margin-bottom: 4px;
}
.prev a, .mulu a, .next a {
    display: block;
    text-align: center;
    padding: 4px 0px;
    background-color: #fff;
    color: #000;
    border: 1px solid #999;
}
.header a {
    color: #333;
}
.header p {
    font-size: 15px;
    line-height: 80%;
    color: red;
}
.logo {
    float: left;
    margin-left: 10px;
    height: 38px;
}
.header h2 {
    font-size: 16px;
    font-weight: bolder;
}