/*article*/
.article {
    margin: 10px auto 10px auto;
}

.title {
	height:35px;
	background:#ECF0F0;
	border-bottom:2px solid #5278F0;
	color:#000;
	font-size:16px;
	padding-left:10px;
	line-height:35px;
	font-weight:normal;
	font-weight:bold;
}

.title a {
    float: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: normal;
}

.title span a{
	float:left;font-size:16px;font-weight:bold;
}

.title a.on {
	color:#623f01;
}
.title .more{
	float:right;
	margin-right:10px;
}
.title .more a{
	color:#fff;
}
/*block*/
.block{
	text-indent:10px;
}

.block li {
    line-height: 35px;
    border-bottom: 1px solid #ECECEC;
}

.block_img {
    height: auto;
    border: 0px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}



.div_breadcrumbs H2 {
	FLOAT: left; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}

.logo {
    float: left;
    margin-left: 10px;
}
.header h2 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 6px;
}
.logo a {
    color: #fff;
}
.header a {
    color: #FFF;
}
.header p {
    font-size: 15px;
    line-height: 80%;
}
.block_txt h2 a, .block_txt2 h2 a, .index_block h2 a {
    color: #2f468f;
}
.blue {
    color: #2f468f;
    font-size: 18px;
}
body {
    background: #fff;
    color: #999;
}