html {
    background: #fff;
    font: 16px/1.5 'microsoft yahei';
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "microsoft yahei";
}

body, h1, h2, h3, h4, h5, h6, p, div, ul, li, dl, dt, dd, h1 {  margin: 0;  padding: 0; }